.container {
	height: 600px;
	overflow-y: auto;
}

.TextGrid {
	width: 100%;
//	text-align: right;
	position: fixed;
//	margin: 0 -1em;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.0);
}

.TextGrid a {
	text-decoration: none;
	background-color: black;
	color: white;
	border-radius: 0.2em;
	padding: 0.2em;
}
